name: Cron Checks

on:
  schedule:
    # Runs "At 04:00 every night except weekends"
    - cron: '0 4 * * 1-5'

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  HOMEBREW_NO_INSTALL_CLEANUP: 1 # Disable cleanup for homebrew, we don't need it on CI
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build-and-test:
    name: Test
    strategy:
      matrix:
        include:
          - ios: "26.0"
            device: "iPhone 17 Pro"
            setup_runtime: false
          - ios: "18.5"
            device: "iPhone 16 Pro"
            setup_runtime: false
          - ios: "17.5"
            device: "iPhone 15 Pro"
            setup_runtime: true
          - ios: "16.4"
            device: "iPhone 14 Pro"
            setup_runtime: true
          - ios: "15.5"
            device: "iPhone 13 Pro"
            setup_runtime: true
      fail-fast: false
    runs-on: macos-15
    env:
      XCODE_VERSION: "26.0.1"
    steps:
    - uses: actions/checkout@v4.1.1
    - uses: ./.github/actions/bootstrap
      env:
        INSTALL_YEETD: true
        INSTALL_IPSW: true
    - uses: ./.github/actions/setup-ios-runtime
      if: ${{ matrix.setup_runtime }}
      timeout-minutes: 60
      with:
        version: ${{ matrix.ios }}
        device: ${{ matrix.device }}
    - name: Run Core Tests
      run: bundle exec fastlane test_core device:"${{ matrix.device }} (${{ matrix.ios }})" cron:true
      timeout-minutes: 30
    - name: Run UI Tests
      run: bundle exec fastlane test_ui device:"${{ matrix.device }} (${{ matrix.ios }})" cron:true
      timeout-minutes: 30
    - name: Run Attachments Tests
      run: bundle exec fastlane test_attachments device:"${{ matrix.device }} (${{ matrix.ios }})" cron:true
      timeout-minutes: 30

  automated-code-review:
    name: Automated Code Review
    runs-on: macos-15
    env:
      XCODE_VERSION: "16.0"
    steps:
    - uses: actions/checkout@v4.1.1
    - uses: ./.github/actions/bootstrap
    - run: bundle exec fastlane rubocop
    - run: bundle exec fastlane run_swift_format strict:true

  slack:
    name: Slack Report
    runs-on: ubuntu-latest
    needs: [build-and-test, automated-code-review]
    if: failure() && github.event_name == 'schedule'
    steps:
      - uses: 8398a7/action-slack@v3
        with:
          status: cancelled
          text: "You shall not pass!"
          job_name: "${{ github.workflow }}: ${{ github.job }}"
          fields: repo,commit,author,workflow
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_NIGHTLY_CHECKS }}
